div {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .parent {
    width: 322px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid black;
  }
  
  .child {
    width: 80px;
    background: white;
    height: 80px;
    border: 1px solid black;
  }